.appHeading {
    font-size: 1.4em;
    width: 100%;
    min-height: 40px;
    position: fixed;
    z-Index: 1000;
    background-color: black;
    color: white;
    padding: 6px;
    opacity: .85;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countries {
    padding-top: 60px;
}

.country {
    text-align: center;
    padding-top: 0px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    margin-left: 10px;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    background: #1779ba;
    color: #fff;
}

.medals {
    text-transform: capitalize;
}

.medals button {
    margin-left: 10px;
    width: 25px;
}
