.country {
    text-align: center;
    padding-top: 0px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.medals {
    text-transform: capitalize;
}

.medals button {
    margin-left: 10px;
    width: 25px;
}
